body {
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #21252B;
  position: relative;
  z-index: -2;
}

element {}

@font-face {
  font-family: Whitney;
  src: url("./files/w300.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: Whitney;
  src: url("./files/w400.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: Whitney;
  src: url("./files/w500.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: Whitney;
  src: url("./files/w600.woff") format("woff");
  font-weight: 600;
}

* {
  font-family: Whitney;
  font-weight: 400;
}

/* @keyframes waiting {
  0% {
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, .125);
  }

  50% {
    box-shadow: 0 0 0px 6px rgba(255, 255, 255, .125);
  }

  100% {
    box-shadow: 0 0 0px 4px rgba(255, 255, 255, 0);
  }
} */
@keyframes pointing {
  0% {
    text-transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(2.5);
    opacity: 0;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    transform: translateY(-140%) translateX(-50%) scaleX(0.5);
  }

  40% {
    transform: translateY(-175%) translateX(-50%) scaleX(1.1);
  }

  100% {
    transform: translateY(-150%) translateX(-50%) scaleX(1);
  }
}

#area {
  height: 100vh;
  width: 100vh;
  cursor: zoom-in;
  transition: height .4s;
}

#area.zoom {
  height: 99vw;
  cursor: zoom-out;
}

#map, #map_lite {
  height: 100%;
  user-select: none;
}

#map {
  z-index: 1;
  background: url("./files/map_s1.png");
  box-shadow: 0 0 40px -10px black;
}

#map_lite {
  z-index: 2;
}

#warpoints {}

#menu {
  height: 100vh;
  color: white;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: -1;
  flex-direction: row;
}

#background {
  width: 100%;
  height: 200px;
  background-image: url("./files/spawnv2.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: -80px;
  z-index: 0;
  position: relative;
  box-shadow: 0 140px 125px -75px rgba(0, 0, 0, 0.75) inset;
  opacity: .25;
}

#menu h1 {
  position: relative;
  z-index: 1;
  margin: 0 0 14px 30px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  font-weight: 600;
}

#menu h2, #menu h3, #menu h4, #select input {
  margin: 0 30px 15px 30px;
}

#info {
  width: 100vw;
  max-width: 625px;
  min-width: 450px;
  transition: all .25s;
}

#b {
  user-select: none;
  display: flex;
  justify-content: space-evenly;
  background-color: #21252B;
}

#b span {
  padding: 10px 5%;
  color: white;
  opacity: .25;
  font-weight: 500;
  font-size: 18px;
}

#b .selected {
  background-color: #24292E;
  opacity: 1;
}

#select {
  background: #21252B;
  width: 100%;
  /* overflow-y: hidden;
  padding: 15px 0;
  position: relative;
  max-height: none;
  margin: 0; */
  box-shadow: 0 0 40px -10px black;
}

#select h2, h3 {
  margin: 0
}

#map_select {
  /* height: 3%; */
  display: flex;
  margin: 30px;
}

#close {
  height: 33px;
  width: 33px;
  background: #24292E;
  margin-left: auto;
  color: white;
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  cursor: pointer;
}

#map_select select {
  background-color: #24292E;
  border: none;
  -webkit-appearance: none;
  color: white;
  border-radius: 5px;
  padding: 0 40px 0 10px;
  transform: translateY(-2px);
  height: 33px;
}

#select_div::before {
  position: relative;
  content: "";
  top: 14px;
  right: -80%;
  border: 6px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-color: #fff transparent transparent transparent;
  z-index: 1;
}

#data_select {
  height: 91%;
}

#select h3, #select input {
  background-color: #24292E;
  padding: 10px 0 10px 20px;
  border-radius: 10px;
}

#select h3 {
  cursor: pointer;
  transition: all .25s;
  color: #ffffffbf;
  font-weight: 500;
  font-size: 16px;
  user-select: none;
}

#select h3:hover, #close:hover {
  filter: brightness(125%);
}

#select input {
  filter: brightness(125%);
  font-size: 20px;
  border: none;
  color: white;
  width: calc(100% - 80px);
  /* position: absolute;
  margin-top: -60px; */
}

#select input:focus {}

#data_list {
  overflow-y: auto;
  height: 92%;
}

#close {
  display: none;
}

#info_page, #gallery_page, #option_page {
  padding-top: 20px;
  overflow-y: auto;
  background-color: #24292E;
  height: calc(100% - 264px) !important;
}

#gallery_page img {
  width: 90%;
  border-radius: 5px;
  margin: 5%;
}

#option_page h3 {
  user-select: none;
  padding: 12px 20px;
  background: #202429;
  border-radius: 10px;
  font-size: 20px;
  transition: all .25s;
}

#option_page h3:hover {
  filter: brightness(95%);
}

#option_page h3.check {
  background-color: #1D2025;
}

#option_page h3::before {
  content: "❌";
  margin-right: 8px;
  visibility: hidden;
}

#option_page h3.check::before {
  content: "✔️";
  visibility: visible;
}

#option_page h4 {
  opacity: .5;
  text-transform: uppercase;
}

.data {
  pointer-events: all;
  cursor: pointer;
  position: absolute;
  /* transform: translateY(-100%); */
  transform: translate(-50%, -14px);
  padding: 5px;
  border-radius: 50%;
}

.name {
  position: absolute;
  margin: 0;
  pointer-events: none;
  background-color: white;
  width: max-content;
  transform: translate(-50%, -150%);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .25);
  z-index: 1;
  animation: appear .5s ease;
  font-weight: 400;
  font-size: 12px;
}

.name_selected {
  font-size: 18px;
}

.name::before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
}

.point {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 0 0px 4px rgba(255, 255, 255, .125);
  /* transform: translate(-50%, 50%); */
  border: rgba(0, 0, 0, .75) 4px solid;
  /* animation: waiting 1s infinite; */
  transition: transform 1s !important;
}

.data.selected .point {
  background-color: tomato;
  width: 15px;
  height: 15px;
  z-index: 69;
}

.data.selected .point:after {
  content: "";
  pointer-events: none;
  opacity: 1;
  border: 7px #24292E solid;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  top: -7px;
  left: -7px;
  position: absolute;
  animation: pointing 1.75s infinite ease-out;
}

.active, .actif {
  background-color: #6FA8DC;
}

.inactive, .inactif {
  background-color: #D9D9D9;
}

.abandonnee, .abandonne {
  background-color: #F6B26B;
}

.idk {
  background-color: #999999;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-weight: 400;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 20px;
}

h3 {
  font-weight: 300;
  font-size: 20px;
}

.void {
  opacity: 0;
}

.none {
  display: none !important;
}

/* SMALL */
@media screen and (max-width: 1650px) {
  #menu {
    flex-direction: column;
  }

  #info {
    width: auto;
    max-width: none;
    min-width: none;
    height: calc(100% - 71px);
  }

  #select {
    position: absolute margin-bottom: 0;
    margin-top: auto;
    box-shadow: none;
    max-height: 76px;
    display: flex;
    z-index: 1;
  }

  #data_select {
    /* display: none; */
  }

  #info_page, #gallery_page, #option_page {
    height: calc(100% - 264px);
  }

  #map_select {
    margin: 27px;
    margin-left: 50px;
  }

  input#search {
    margin: 16px;
  }
}

/* PHONE */
@media screen and (max-width: 1350px) {
  body {
    display: block;
    overflow: auto !important;
  }

  #area {
    width: 100%;
    height: auto;
    cursor: default;
  }

  #map, #map_lite {
    width: 100%;
    height: auto;
    pointer-events: none;
  }

  #menu {
    height: auto;
    margin-top: -4px;
  }

  #select {
    position: relative;
  }
}
