body {
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #24292E;
}

@font-face {
  font-family: Whitney;
  src: url("./files/w400.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: Whitney;
  src: url("./files/w500.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: Whitney;
  src: url("./files/w600.woff") format("woff");
  font-weight: 600;
}

* {
  font-family: Whitney;
  font-weight: 400;
}

@keyframes pointing {
  0% {
    text-transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(2.5);
    opacity: 0;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    transform: translateY(-140%) translateX(-50%) scaleX(0.5);
  }

  40% {
    transform: translateY(-175%) translateX(-50%) scaleX(1.1);
  }

  100% {
    transform: translateY(-150%) translateX(-50%) scaleX(1);
  }
}

#area {
  height: 100vh;
  width: 100vh;
  cursor: zoom-in;
  transition: height .4s;
}

#area.zoom {
  height: 99vw;
  cursor: zoom-out;
}

#map, #map_lite {
  height: 100%;
  user-select: none;
}

#map {
  z-index: 1;
  background: url("./files/map_s1.png");
}

#map_lite {
  z-index: 2;
}

#warpoints {}

#menu {
  height: 100vh;
  width: -moz-available;
  padding-left: 30px;
  color: white;
}

#options {
  position: absolute;
  bottom: 0;
}

#options span {
  cursor: pointer;
  color: cornflowerblue;
}

.data {
  pointer-events: none;
  position: absolute;
  transform: translateY(-100%);
}

.name {
  position: absolute;
  margin: 0;
  pointer-events: none;
  background-color: white;
  width: max-content;
  transform: translate(-50%, -150%);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .25);
  z-index: 1;
  animation: appear .5s ease;
  font-weight: 400;
}

.name::before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.point {
  pointer-events: all;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 0 0px 4px rgba(255, 255, 255, .125);
  transform: translate(-50%, 50%);
  border: rgba(0, 0, 0, .75) 4px solid;
}

.point.selected {
  background-color: tomato;
  width: 15px;
  height: 15px;
}

.point.selected:after {
  content: "";
  pointer-events: none;
  opacity: 1;
  border: 7px #24292E solid;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  top: -7px;
  left: -7px;
  position: absolute;
  animation: pointing 1.75s infinite ease-out;
}

h1, h2, h3 {}

h1 {
  font-size: 5vh;
}

h2 {
  font-size: 2vh;
}

h3 {}

.void {
  opacity: 0;
}

.none {
  display: none;
}

@media screen and (max-width: 1100px) {
  body {
    display: block;
  }

  #area {
    width: 100%;
    height: auto;
    cursor: default;
  }

  #map, #map_lite {
    width: 100%;
    height: auto;
    pointer-events: none;
  }

  #options {
    margin-top: 50px;
    position: relative;
  }
}
