body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: #24292E;
  display: flex;
  overflow-y: auto;
}

* {}

@keyframes pointing {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }

  50% {
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  100% {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}

#area {
  width: 100vh;
  height: 100vh;
  cursor: zoom-in;
}

img {
  user-select: none;
  width: 100%;
  height: auto;
  transition: all 1s;
}

#area.zoom {
  height: 100vw;
  width: 100vw;
  cursor: zoom-out;
}

#pointswar {
  position: absolute;
  top: 0;
}

.point {
  pointer-events: none;
  position: absolute;
  transform: translateY(-100%);
}

.point div {
  pointer-events: all;
  cursor: pointer;
  width: 10px;
  height: 10px;
  background-color: greenyellow;
  top: 100px;
  left: 100px;
  border-radius: 50%;
  border: 2px black solid;
  transform: translate(-50%, 50%);
}

.point div.selected {
  background-color: blue;
}

.point div.selected:after {
  content: "";
  pointer-events: none;
  opacity: 1;
  border: 7px #24292E solid;
  width: 10px;
  height: 10px;
  display: block;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  top: 5px;
  left: 5px;
  position: absolute;
  animation: pointing 1.75s infinite ease-out;
}

.pointswar {
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  z-index: 1;
}

#menu {
  overflow-y: auto;
  height: 100vh;
  background-color: #24292E;
  width: inherit;
  padding-left: 2%;
  width: auto;
}

#options {
  position: absolute;
  bottom: 0;
}

.void {
  opacity: 0;
}

.none {
  display: none;
}

h1, h2, h3 {
  color: white;
}

h1 {
  font-size: 4vh;
}

h2 {
  font-size: 3vh;
}

h3 {
  font-size: 2vh;
}

span {
  cursor: pointer;
  color: cornflowerblue;
}

/*----------------------------------PHONE-----------------------------*/
@media screen and (max-width: 1269px) {
  body {
    display: block;
  }

  #area {
    width: 100%;
    height: auto;
  }

  #map {
    pointer-events: none;
    width: 100%;
    height: auto;
  }

  .point div {
    pointer-events: all;
  }

  #options {
    margin-top: 50px;
    position: relative;
  }

  #menu {
    width: auto;
  }
}
